.dragbox {
	background: #fff;
	position: relative;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.dragbox-header {
	margin: 0;
	padding: 5px;
	background: #f0f0f0;
	color: #000;
	border-bottom: 1px solid #eee;
    height: 1.2em;
    cursor: move;
}

.dragbox-header img {
    margin: 0;
    padding: 0;
}

.dragbox-toggle {
	float: left;
	margin-right: 3px;
	cursor: pointer;
}

.dragbox-title {
	float: left;
    font-weight: bold;
}

.dragbox-actions {
	float: right;
	margin: 0;
	padding: 0;
	display: none;
}

.dragbox-actions ul {
    padding: 0;
    margin: 0;
}

.dragbox-actions ul li {
    display: inline;
    margin: 0 1px 0 1px;
}

.dragbox-actions ul li a {
    text-decoration: none;
}

.dragbox-actions ul li a img {
	border: 0;
	margin: 0;
}

.dragbox-content {
	background: #fff;
	min-height: 60px;
	margin: 5px;
	line-height: 1.5em;
	overflow: auto;
}

.widget-loading {
    /*
    height: 150px;
    */
    height: 100%;
    position: relative;
}

.widget-loading .widget-title {
    font-weight: bold;
}

.widget-loading .widget-loading-message {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}